.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 32px;
}

.sort {
  display: grid;
  grid-template-columns: 288px;
  margin-bottom: 35px;
  justify-content: flex-end;
}